<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div class="row">
		<div class="col-md-12 " style="text-align:center;margin-bottom:48px">
			<h1>Welcome to E-Voting</h1>
			<hr />
		</div>
	</div>

	<div class="row dark-gray">
		<div class="col-md-12 " style="text-align:center;margin-bottom:48px">
			<div style="background:#f0f9f9;border:1px solid #ddd;border-radius:3px;padding:20px">
				<h1> Schedule New Election</h1>
			</div>
		</div>
	</div>

	<div class="row dark-gray">
		<div style="background:#f0f9f9;border:1px solid #ddd;border-radius:3px;padding:40px; text-align: center;">
			<form method="POST" action="/rules">
					<fieldset>	
					<legend><strong>Register</strong> </legend>
						<div>
							<label for="electionDate">Start Date: </label>
							<input type="date" name="startRegsiterDate" required><vr>
							<label for="electionTime">Start Time: </label>
							<input type="time" name="startRegsiterTime" required>		
						</div>

						<div>
							<label for="electionDate">Stop Date: </label>
							<input type="date" name="stopRegisterDate" required>
							<label for="electionTime">Stop Time: </label>
							<input type="time" name="stopRegisterTime" required>		
						</div>
					</fieldset>
					<hr>
					<fieldset>	
					<legend><strong>Accredit</strong></legend>
						<div>
							<label for="electionDate">Start Date: </label>
							<input type="date" name="startAccreditDate" required>
							<label for="electionTime">Start Time: </label>
							<input type="time" name="startAccreditTime" required>	
						</div>

						<div>
							<label for="electionDate">Stop Date: </label>
							<input type="date" name="stopAccreditDate" required>
							<label for="electionTime">Stop Time: </label>
							<input type="time" name="stopAccreditTime" required>		
						</div>
					</fieldset>
					<hr>
					<fieldset>	
					<legend><strong>Vote</strong></legend>
						<div>
							<label for="electionDate">Start Date: </label>
							<input type="date" name="startVoteDate" required>
							<label for="electionTime">Start Time: </label>
							<input type="time" name="startVoteTime" required>		
						</div>

						<div>
							<label for="electionDate">Stop Date: </label>
							<input type="date" name="stopVoteDate" required>
							<label for="electionTime">Stop Time: </label>
							<input type="time" name="stopVoteTime" required>		
						</div>
					</fieldset>		
					<fieldset>
						<legend><strong></strong></legend>
						<div>
							<strong>
								<input type="submit" value="submit" name="Submit">					
							</strong>
						</div>						
					</fieldset>
			</form>
		</div>

	</div>

	<div class="row" >
		<div class="col-md-12" style="text-align:center; padding: 20px; text-transform: uppercase; background-color: #f0f9f9;">
			<footer>
				<strong> &copy E-voting 2019 </strong>
			</footer>
		</div>
	</div>
  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
